.base{
  border: 5px solid black;
  width: 25vw; 
  height: 25vw; 
  text-align: center;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.vermelho{
  border-color: red;
}

.verde{
  border-color: green;
}

.azul{
  border-color: blue;
}