<!-- Crie duas classes CSS, uma com fundo vermelho e cor de fonte branca (chame a classe de “vermelho”)
e outra com fundo azul claro e cor de fonte verde (chame a classe de “azul”). Crie uma propriedade no
TypeScript chamada classeCss, com valor inicial de “vermelho” e um elemento de parágrafo no HTML
com texto aleatório. Atribua a propriedade classeCss no atributo class do p criado e defina um botão
capaz de alternar entre as classes quando clicado
-->
<p class="{{classeCss}}">
COVEIROS
</p>

<button (click)="mudaCor()">Mudar</button>