ul {
  display: flex;
}

li {
  list-style: none;
  padding: .5rem;

}

a {
  text-decoration: none;
  color: green;
  background-color: aqua;
  border-radius: 5px;
  transition: all .5s;
}

a:hover{
  color: blue;
  background-color:bisque;
  box-shadow: 5px 5px;
}